{% load staticfiles %}
<script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
<script src="{% static 'js/settings.js' %}"></script>

<div id="edit_{{ data.id }}" style="display: none">
<form method="post">
    {% csrf_token %}
    <input id="id_{{ data.id }}" type="hidden" name="id" value="{{ data.id }}">
    <input id="table_{{ data.id }}" type="hidden" name="table" value="{{ data.table_name }}">
    <input id="row_{{ data.id }}" type="hidden" name="row" value="{{ data.row }}">
    <textarea id="area_{{ data.id }}" name="area_{{ data.id }}">{{ data.value }}</textarea>
    <input type="button" id="btn_{{ data.id }}" value="Сохранить"></input>
    <span id="res_{{ data.id }}"></span>
    </form>
</div>
<div id="show_{{ data.id }}">
    {{ data.value }}

</div>
 <a id="edit_href_{{ data.id }}" href="" onclick="return false"> Редактировать</a>

        <script>
            CKEDITOR.inline( 'area_{{ data.id }}');
        </script>

<script>
    $(function(){
           $("#edit_href_{{ data.id }}").on('click', function(){
           $("#edit_{{ data.id }}").toggle()
           $("#show_{{ data.id }}").toggle()
        });
        $("#btn_{{ data.id }}").on('click', function(){
            var value = CKEDITOR.instances['area_{{ data.id }}'].getData();
            $.post('/side_editor',{
                'id':$('#id_{{ data.id }}').val(),
                'row':$('#row_{{ data.id }}').val(),
                'table':$('#table_{{ data.id }}').val(),
                'value':$(value).text(),
                'csrfmiddlewaretoken':$( '#csrfmiddlewaretoken' ).val()},
                    function(data){
                        $('#res_{{ data.id }}').html('');
                        if (data=='ok'){
                            $('#res_{{ data.id }}').html('Данные успешно сохранены.');
                        }else{
                            $('#res_{{ data.id }}').html('Ошибка сохранения.');
                        }
             })
        });

    });

</script>